@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --font-padrao: 'Roboto', sans-serif;
    --cor-primaria: #8330F0;
    --cor-secundaria: #252525;
    --cor-terciaria: #41127e;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--font-padrao);
}

.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.home {
    height: 100vh;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.menu a {
    margin-top: 1.5rem;
    padding-right: 1.7rem;
    text-decoration: none;
    color: var(--cor-primaria);
    font-weight: 700;
}

.menu a:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.content-home {
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

.content-text {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.content-text h1 {
    font-weight: 900;
    font-size: clamp(8vw, 8vw, 10vw);
    color: var(--cor-primaria);
}

.content-text h2 {
    font-size: clamp(2.5vw, 2.5vw, 4vw);
}

.content-text p {
    min-width: 250px;
    width: 60%;
    font-weight: 200;
}

.content-text .icones {
    margin-top: 1.5rem;
}

.content-text .icones a {
    margin-right: 1rem;
}

.content-text .icones img {
    min-width: 50px;
    width: 8%;
}

.content-text .icones img:hover {
    transition: all 200ms ease-in-out;
    transform: translate(0, -20%);
}

.content-img img{
    max-width: 100%;
}

.about {
    background-color: var(--cor-terciaria);
    box-shadow: inset 0px 8px 12px rgba(0, 0, 0, 0.363);
    text-align: center;
    position: relative;
    z-index: 3;
}

.content-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 1rem;
}

.logos {
    display: flex;
    flex-direction: row;
}

.content-about h2 {
    color: #ba89fa;
}

.content-about p {
    color: #dddddd;
}

.content-about img {
    max-width: 24%;
    padding: 1rem;
}

.line {
    background-color: #ba89fa;
    width: 2px;
    height: 14rem;
}

.about-text {
    text-align: center;
    padding: 1rem;
}

.about-text p {
    padding-top: 0.7rem;
    text-align: justify;
    max-width: 600px;
}

.projects {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(173, 173, 173) 100%);
    height: 350px;
    position: relative;
    z-index: 1;
}

.stars{
    position: relative;
	width: 4px;
	height: 4px;
	border-radius: 50%;
    animation: anim-stars 10s linear infinite;
    box-shadow:
    50px 30px #8330F0,
    700px 80px #8330F0,
    735px 30px #8330F0,
    800px 180px #8330F0,
    830px 70px #8330F0,
    480px 50px #8330F0,
    890px 130px #8330F0,
    250px 50px #8330F0,
    550px 15px #8330F0,
    630px 160px #8330F0,
    580px 105px #8330F0,
    320px 100px #8330F0,
    380px 140px #8330F0,
    520px 190px #8330F0,
    120px 100px #8330F0,
    80px 180px #8330F0,
    170px 160px #8330F0,
    980px 100px #8330F0,
    1050px 140px #8330F0,
    1120px 40px #8330F0,
    1570px 190px #8330F0,
    1650px 80px #8330F0,
    1285px 100px #8330F0,
    1760px 180px #8330F0,
    1830px 220px #8330F0,
    1900px 160px #8330F0,
    330px 10px #8330F0;
}

.stars::after{
    content: " ";
    position: absolute;
    top: 300px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
    box-shadow:
    50px 30px #8330F0,
    700px 80px #8330F0,
    735px 30px #8330F0,
    800px 180px #8330F0,
    830px 70px #8330F0,
    480px 50px #8330F0,
    890px 130px #8330F0,
    250px 50px #8330F0,
    550px 15px #8330F0,
    630px 160px #8330F0,
    580px 105px #8330F0,
    320px 100px #8330F0,
    380px 140px #8330F0,
    520px 190px #8330F0,
    120px 100px #8330F0,
    80px 180px #8330F0,
    170px 160px #8330F0,
    980px 100px #8330F0,
    1050px 140px #8330F0,
    1120px 40px #8330F0,
    1570px 190px #8330F0,
    1650px 80px #8330F0,
    1285px 100px #8330F0,
    1760px 180px #8330F0,
    1830px 220px #8330F0,
    1900px 160px #8330F0,
    330px 10px #8330F0;
}

.stars2{
    position: relative;
	width: 2px;
	height: 2px;
	border-radius: 50%;
    animation: anim-stars 20s linear infinite;
    box-shadow:
    20px 40px #8330F0,
    740px 80px #8330F0,
    775px 30px #8330F0,
    820px 180px #8330F0,
    860px 70px #8330F0,
    420px 50px #8330F0,
    885px 130px #8330F0,
    215px 50px #8330F0,
    523px 15px #8330F0,
    670px 160px #8330F0,
    560px 105px #8330F0,
    310px 100px #8330F0,
    365px 140px #8330F0,
    500px 190px #8330F0,
    124px 100px #8330F0,
    70px 180px #8330F0,
    155px 160px #8330F0,
    980px 100px #8330F0,
    1100px 140px #8330F0,
    1150px 200px #8330F0,
    1500px 190px #8330F0,
    1205px 100px #8330F0,
    1280px 70px #8330F0,
    1660px 210px #8330F0,
    1830px 160px #8330F0,
    1910px 50px #8330F0,
    305px 10px #8330F0;
}

.stars2::after{
    content: " ";
    position: absolute;
    top: 300px;
	width: 2px;
	height: 2px;
	border-radius: 50%;
    box-shadow:
    50px 30px #8330F0,
    700px 80px #8330F0,
    735px 30px #8330F0,
    800px 180px #8330F0,
    830px 70px #8330F0,
    480px 50px #8330F0,
    890px 130px #8330F0,
    250px 50px #8330F0,
    550px 15px #8330F0,
    630px 160px #8330F0,
    580px 105px #8330F0,
    320px 100px #8330F0,
    380px 140px #8330F0,
    520px 190px #8330F0,
    120px 100px #8330F0,
    80px 180px #8330F0,
    170px 160px #8330F0,
    980px 100px #8330F0,
    1100px 140px #8330F0,
    1150px 200px #8330F0,
    1500px 190px #8330F0,
    1205px 100px #8330F0,
    1280px 70px #8330F0,
    1660px 210px #8330F0,
    1830px 160px #8330F0,
    1910px 50px #8330F0,
    330px 10px #8330F0;
}

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-300px);
    }
}

.content-projects {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-projects h2 {
    padding-bottom: 3%;
    color: var(--cor-primaria);
}

.all-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-left: 1%;
}

.item-project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.item-project:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.item-project img {
    width: 100%;
}

.item-project h3 {
    color: var(--cor-secundaria);
}

.item-project:hover h3 {
    color: var(--cor-primaria);
}

@media (max-width:550px) {
    .home {
        height: 110vh;
    }

    .menu a {
        font-size: clamp(0.4rem, 0.9rem, 1.5rem);
        padding-right: 0.7rem;
    }

    .content-home {
        grid-template-columns: 100%;
        align-items: center;
    }

    .content-text {
        grid-row-start: 2;
        padding-left: 0%;
        align-items: center;
    }

    .content-text h1 {
        font-weight: 900;
        font-size: 4rem;
        color: var(--cor-primaria);
    }
    
    .content-text h2 {
        font-size: 1.3rem;
    }

    .content-text .icones a {
        margin-right: 0;
    }

    .content-about {
        flex-direction: column;
    }

    .line {
        height: 2px;
        width: 25rem;
    }

}